<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <appSettings>
    <add key="AAD_AuthorityUri" value="https://login.microsoftonline.com/{0}/" />
    <!-- Enter your AAD native app settings and tenant details -->
    <add key="AAD_ClientId" value="app-client-id" />
    <add key="AAD_Domain" value="yourtenant.onmicrosoft.com" />
    <!-- Change these to match your deployment URL. Trailing slash required. -->
    <add key="AAD_RedirectURI" value="https://localhost:44315/" />
    <!-- Web Portal base URL. Omit trailing slash. -->
    <add key="WebPortalBaseUrl" value="https://localhost:44315" />
  </appSettings>
</configuration>
