<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">SfB Sample</span>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Virtual", "Virtual", "Launcher")</li>
                <li>@Html.ActionLink("Desktop", "Desktop", "Launcher")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>